*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

header{
    background-color: #4e4e4f;
    text-align: center;
    padding: 40px 0px 40px 0px;
    width: 100vw;
    max-width: 100%
}

header > h1{
    color: white;
}

nav{
    width: 100vw;
    background-color: #7f7e7f; 
    max-width: 100%
}

 

.nav-bar{ 
    position: sticky;
    top: 0%;
    z-index: 1;
    max-width: 100%; 
}
.drop-down{
    display: inline-block;
    padding: 5px;
    color: aliceblue; 
}

.drop-down:hover{
    background-color: black;
    cursor: pointer;
}

.drop-down > a{
    color: aliceblue;
    text-decoration: none;
}

.drop-down-content{
    list-style: none;
    display: none;
    position: absolute;
    background-color: whitesmoke;
    top: 31px; 

}

.drop-down:hover .drop-down-content{
    display: block;
}

.drop-down-content li:hover{
    background-color: gainsboro;
}

.drop-down-content li a {
    color: aliceblue;
    text-decoration: none;
    padding: 5px;
    color: steelblue;
}

.drop-down-content li{
    padding: 5px;
}

.ad-container{
    width: 100vw;
    height: 70vh; 
    background-image: url('Images/Animation/ani1.jpg');
    background-size: 100vw 100% ;
    background-repeat: no-repeat;
    animation-name: slide-show;
    animation-duration: 15s; 
    animation-delay: 3s;
    animation-iteration-count: infinite;
    border: 2px solid steelblue;
    box-sizing: border-box;
    max-width: 100%
} 

@keyframes slide-show {
    0%{
        background-image: url('Images/Animation/ani1.jpg');
    }

    25%{
        background-image: url('Images/Animation/ani2.png');
    }

    50%{
        background-image: url('Images/Animation/ani3.jpg');
    }

    75%{
        background-image: url('Images/Animation/ani4.jpg');
    }

    100%{
        background-image: url('Images/Animation/ani5.jpg');
    }
 
}

.section_heading{
    padding: 25px;
    font-size: 25px;  
}

.product-container{ 
    align-items: center;
    text-align: center;
    width: 100vw;   
    max-width: 100%
}

.product-card{
    text-align: left;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width: 280px;
    background-color: whitesmoke;
    color: steelblue;   
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.product-card:hover{
    transform: scale(1.1);
}


.product-card p:nth-child(1){
    color: black;
    padding-bottom: 5px;
}

 

.product-img img{
    width: 270px; 
    height: 180px;
}

.product-card > button{
    width: 100%;
    font-weight: bold;
    color: goldenrod;
    border: 1px solid steelblue;
    height: 25px;
    margin-top: 5px;
    border-radius: 7px;
    cursor: pointer;
}

.product-card > button:active{
    background-color: rgb(250, 234, 230) ;
    border: 1px solid rgb(0, 255, 76);
}

 

footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

