.container{  
    overflow: auto;  
    width: 80vw;
    height: 80vh; 
    display: flex;
    flex: stretch;
    margin: 5vh 10vw 0vh 10vw; 
    box-shadow:  rgba(50, 50, 93, 0.45) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
   
}

.form-div{
    width: 50%;  
}


.form-div li{ 
    margin: 40px 10px 30px 10px;
    font-size: 25px;
    font-weight: 500;  
}

.input-container{
    display: inline-block;
    border-bottom: 1px solid gray;
}

.input-container > input{
    width: 200px;
    font-size: 16px;
    margin-top: 15px ;
    margin-bottom: 15px;
    border: none; 
}

.input-container > input:focus{
     outline: 0px;
}

#district-option > label{ 
    font-size: 22px;
    margin-top: 10px;
}

#district-option > select{
    display:  block ;
    font-size: 16px;
    height: 30px;
    width: 200px;
}

#test-type > p{
    font-size: 18px;
}

label{
    font-size: 18px;
}

table{
    font-size: 16px;
} 

.date-time{
    padding-bottom: 30px;
}

.img-div{  
    background-image: url('Images/Lab-Test/lab-test.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center; 
    width: 40vw;
    height: 80vh; 
    position: fixed;
    right: 145px;
    
}
 

button{
    border: none;
    font-size: 18px; 
    background-color: #9e63e0;
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px 15px 0px 15px;
}

.btn{
    text-align: center;
}

button > a {
    text-decoration: none;
    color: white;
    
}