*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction:column ;
    justify-content: space-around;
    align-items: center;
}

.container{  
    /* background-color: red; */
    width: 1000px;
    height: 80vh; 
    box-sizing: border-box;
    margin-top: 10vh;
    /* margin-bottom: 10%; */
    border: 1px solid black; 
    overflow: auto;
    display: flex; 
}

#form-div{
    padding: 20px;
}

 

#img-div{   
    background-image: url('Images/Lab-Test/lab-test.jpg');
    background-size: fill;
    height: 160%;
}

.sub-container{
    width: 50%;
    height: 100%;
    display: inline-block;
    
}

 img {
     width: 100%;
    /* overflow: hidden; */
}

.input-container{
    display: inline-block;
    border-bottom: 1px solid black; 
    padding: 20px;
}

.input-container > input:focus{
    outline: none;
}

.input-container > input{
    font-size: 16px;
    border: none; 
    padding: 10px; 
}

label{
    padding: 10px;
}

#distric-container {
    padding-top: 20px;
    padding-bottom: 20px;
}
 

#district{
    margin-top:10px ;
    display: block;
    width: 200px;
}

.input-field{
    padding: 10px;
}

.input-field > h3{
    padding-bottom: 10px;
    font-size: 20px;
}

.input-field > div{
    padding: 10px;
}

button{
    padding: 5px 10px 5px 10px;
    margin: 15px;
    background-color: blueviolet;
    border: none;
    width: 75px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

button > a{
    text-decoration: none;
    color: white;
}



 


